---
interface Props {
  dark?: boolean;
}

const { dark = false } = Astro.props;
---

<div
  class={`my-4 pl-5 pr-4 py-4 border-l-[3px] border-gold rounded-r-md
    ${dark
      ? 'bg-navy-panel text-off-white'
      : 'bg-light-bg text-ink'
    }`}
>
  <slot />
</div>
